<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">{{ project.title }}</h2>
          <p class="card-text">{{ project.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if project.github -%}
                <a href="{{ project.github }}"><i class="fab fa-github gh-icon" style="font-size: 32px;"></i>&nbsp;&nbsp;&nbsp;</a>
            {%- endif %}
            {%- if project.project_pdf -%}
                <a href="{{ project.project_pdf }}"><i class="fas fa-file-pdf" style="font-size: 32px;"></i></a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </a>
</div>
